.u-section-1 .u-sheet-1 {
  min-height: 96px;
}

.u-section-1 .u-menu-1 {
  margin: 30px auto;
}

.u-section-1 .u-nav-1 {
  font-weight: 700;
}

.u-section-1 .u-nav-2 {
  font-size: 1.25rem;
}

@media (max-width: 1199px) {
  .u-section-1 .u-menu-1 {
    width: auto;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-menu-1 {
    margin-top: 32px;
    margin-right: 17px;
    margin-bottom: 32px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-menu-1 {
    margin-right: 20px;
  }
}.u-section-2 {
  min-height: 288px;
}

.u-section-2 .u-line-1 {
  height: 3px;
  transform-origin: left center 0px;
  margin: 1px auto 0 0;
}

.u-section-2 .u-line-2 {
  width: 40px;
  height: 4px;
  transform-origin: left center 0px;
  transform: rotate(360deg);
  margin: 62px auto 0 calc(((100% - 1140px) / 2) + 180px);
}

.u-section-2 .u-text-1 {
  font-size: 1.75rem;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: -24px calc(((100% - 1140px) / 2) + 618px) 0 calc(((100% - 1140px) / 2) + 251px);
}

.u-section-2 .u-line-3 {
  height: 5px;
  transform-origin: left center 0px;
  margin: 193px auto 0 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-line-1 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-left: calc(((100% - 940px) / 2) + 180px);
  }

  .u-section-2 .u-text-1 {
    width: auto;
    margin-right: calc(((100% - 940px) / 2) + 397px);
    margin-left: calc(((100% - 940px) / 2) + 261px);
  }

  .u-section-2 .u-line-3 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-line-2 {
    margin-left: calc(((100% - 720px) / 2) + 180px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 720px) / 2) + 197px);
    margin-left: calc(((100% - 720px) / 2) + 251px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-line-1 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-line-2 {
    margin-left: calc(((100% - 540px) / 2) + 98px);
  }

  .u-section-2 .u-text-1 {
    margin-right: calc(((100% - 540px) / 2) + 103px);
    margin-left: calc(((100% - 540px) / 2) + 166px);
  }

  .u-section-2 .u-line-3 {
    margin-bottom: 1px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 {
    min-height: 325px;
  }

  .u-section-2 .u-line-2 {
    margin-top: 31px;
    margin-left: calc(((100% - 340px) / 2) + 22px);
  }

  .u-section-2 .u-text-1 {
    font-size: 1.5rem;
    margin-top: -21px;
    margin-right: calc(((100% - 340px) / 2) + 20px);
    margin-left: calc(((100% - 340px) / 2) + 86px);
  }

  .u-section-2 .u-line-3 {
    margin-top: 265px;
    margin-bottom: 0;
    margin-right: initial;
    margin-left: initial;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 259px;
}

.u-section-3 .u-list-1 {
  width: 996px;
  min-height: 320px;
  margin: -181px auto 60px;
}

.u-section-3 .u-gallery-nav-1 {
  position: absolute;
  left: 7px;
  width: 20px;
  height: 20px;
  background-image: none;
  top: 208px;
}

.u-section-3 .u-gallery-nav-2 {
  position: absolute;
  left: auto;
  width: 20px;
  height: 20px;
  background-image: none;
  top: 212px;
  right: 8px;
}

.u-section-3 .u-repeater-1 {
  min-height: 320px;
  grid-auto-columns: calc(25% - 30px);
  grid-template-columns: calc(25% - 30px) calc(25% - 30px) calc(25% - 30px) calc(25% - 30px);
  grid-gap: 40px 40px;
}

.u-section-3 .u-list-item-1 {
  animation-duration: 1000ms;
  transition-duration: 0.25s;
}

.u-section-3 .u-image-1 {
  background-image: url("images/rectangle_11.png");
}

.u-section-3 .u-container-layout-1 {
  padding: 0 16px 0 30px;
}

.u-section-3 .u-icon-1 {
  height: 25px;
  width: 25px;
  color: rgb(215, 90, 74) !important;
  margin: 11px 0 0 auto;
}

.u-section-3 .u-image-2 {
  height: 126px;
  width: 173px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-2 {
  height: 19px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: 12px auto 0 5px;
}

.u-section-3 .u-icon-3 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -19px auto 0 36px;
}

.u-section-3 .u-icon-4 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px auto 0 70px;
}

.u-section-3 .u-icon-5 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px auto 0 103px;
}

.u-section-3 .u-icon-6 {
  height: 21px;
  width: 21px;
  margin: -20px auto 0 134px;
}

.u-section-3 .u-text-1 {
  font-size: 1.0625rem;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 21px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 0.9375rem;
  margin: 11px 96px 0 16px;
}

.u-section-3 .u-text-3 {
  font-weight: 800;
  font-size: 1.25rem;
  margin: -28px 30px 0 88px;
}

.u-section-3 .u-list-item-2 {
  animation-duration: 1000ms;
}

.u-section-3 .u-image-3 {
  background-image: url("images/rectangle_11.png");
}

.u-section-3 .u-container-layout-2 {
  padding: 0 16px 0 30px;
}

.u-section-3 .u-icon-7 {
  height: 25px;
  width: 25px;
  color: rgb(215, 90, 74) !important;
  margin: 11px 0 0 auto;
}

.u-section-3 .u-image-4 {
  height: 126px;
  width: 173px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-8 {
  height: 19px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: 12px auto 0 11px;
}

.u-section-3 .u-icon-9 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -19px auto 0 42px;
}

.u-section-3 .u-icon-10 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px auto 0;
}

.u-section-3 .u-icon-11 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px 43px 0 auto;
}

.u-section-3 .u-icon-12 {
  height: 21px;
  width: 21px;
  margin: -20px 12px 0 auto;
}

.u-section-3 .u-text-4 {
  font-size: 1.0625rem;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 21px 0 0;
}

.u-section-3 .u-text-5 {
  font-size: 0.9375rem;
  margin: 11px 86px 0 26px;
}

.u-section-3 .u-text-6 {
  font-weight: 800;
  font-size: 1.25rem;
  margin: -28px 20px 0 98px;
}

.u-section-3 .u-list-item-3 {
  animation-duration: 1000ms;
}

.u-section-3 .u-image-5 {
  background-image: url("images/rectangle_11.png");
}

.u-section-3 .u-container-layout-3 {
  padding: 0 16px 0 30px;
}

.u-section-3 .u-icon-13 {
  height: 25px;
  width: 25px;
  color: rgb(215, 90, 74) !important;
  margin: 11px 0 0 auto;
}

.u-section-3 .u-image-6 {
  height: 126px;
  width: 173px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-14 {
  height: 19px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: 12px auto 0 11px;
}

.u-section-3 .u-icon-15 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -19px auto 0 42px;
}

.u-section-3 .u-icon-16 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px auto 0;
}

.u-section-3 .u-icon-17 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px 43px 0 auto;
}

.u-section-3 .u-icon-18 {
  height: 21px;
  width: 21px;
  margin: -20px 12px 0 auto;
}

.u-section-3 .u-text-7 {
  font-size: 1.0625rem;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 21px 0 0;
}

.u-section-3 .u-text-8 {
  font-size: 0.9375rem;
  margin: 11px 86px 0 26px;
}

.u-section-3 .u-text-9 {
  font-weight: 800;
  font-size: 1.25rem;
  margin: -28px 20px 0 98px;
}

.u-section-3 .u-list-item-4 {
  animation-duration: 1000ms;
}

.u-section-3 .u-image-7 {
  background-image: url("images/rectangle_11.png");
}

.u-section-3 .u-container-layout-4 {
  padding: 0 16px 0 30px;
}

.u-section-3 .u-icon-19 {
  height: 25px;
  width: 25px;
  color: rgb(215, 90, 74) !important;
  margin: 11px 0 0 auto;
}

.u-section-3 .u-image-8 {
  height: 126px;
  width: 173px;
  margin: 11px auto 0;
}

.u-section-3 .u-icon-20 {
  height: 19px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: 12px auto 0 11px;
}

.u-section-3 .u-icon-21 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -19px auto 0 42px;
}

.u-section-3 .u-icon-22 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px auto 0;
}

.u-section-3 .u-icon-23 {
  height: 20px;
  width: 21px;
  color: rgb(255, 193, 7) !important;
  margin: -20px 43px 0 auto;
}

.u-section-3 .u-icon-24 {
  height: 21px;
  width: 21px;
  margin: -20px 12px 0 auto;
}

.u-section-3 .u-text-10 {
  font-size: 1.0625rem;
  font-weight: 900;
  text-shadow: 2px 2px 8px rgba(128,128,128,1);
  margin: 21px 0 0;
}

.u-section-3 .u-text-11 {
  font-size: 0.9375rem;
  margin: 11px 86px 0 26px;
}

.u-section-3 .u-text-12 {
  font-weight: 800;
  font-size: 1.25rem;
  margin: -28px 20px 0 98px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 241px;
  }

  .u-section-3 .u-list-1 {
    width: 450px;
    min-height: 302px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 302px;
    grid-auto-columns: calc(50% - 20px);
    grid-template-columns: calc(50% - 20px) calc(50% - 20px);
  }

  .u-section-3 .u-list-item-1 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 23px;
  }

  .u-section-3 .u-image-2 {
    width: 145px;
    margin-left: 7px;
  }

  .u-section-3 .u-icon-2 {
    margin-left: 12px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 43px;
  }

  .u-section-3 .u-icon-5 {
    margin-left: 96px;
  }

  .u-section-3 .u-icon-6 {
    margin-left: 127px;
  }

  .u-section-3 .u-text-1 {
    margin-left: 7px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 63px;
    margin-left: 0;
  }

  .u-section-3 .u-text-3 {
    margin-right: 7px;
    margin-left: 63px;
  }

  .u-section-3 .u-list-item-2 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 23px;
  }

  .u-section-3 .u-image-4 {
    width: 145px;
    margin-left: 7px;
  }

  .u-section-3 .u-icon-8 {
    margin-left: 12px;
  }

  .u-section-3 .u-icon-9 {
    margin-left: 43px;
  }

  .u-section-3 .u-icon-10 {
    margin-left: 70px;
  }

  .u-section-3 .u-icon-11 {
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-12 {
    margin-right: auto;
    margin-left: 127px;
  }

  .u-section-3 .u-text-4 {
    margin-left: 7px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 63px;
    margin-left: 0;
  }

  .u-section-3 .u-text-6 {
    margin-right: 7px;
    margin-left: 63px;
  }

  .u-section-3 .u-list-item-3 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 23px;
  }

  .u-section-3 .u-image-6 {
    width: 145px;
    margin-left: 7px;
  }

  .u-section-3 .u-icon-14 {
    margin-left: 12px;
  }

  .u-section-3 .u-icon-15 {
    margin-left: 43px;
  }

  .u-section-3 .u-icon-16 {
    margin-left: 70px;
  }

  .u-section-3 .u-icon-17 {
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-18 {
    margin-right: auto;
    margin-left: 127px;
  }

  .u-section-3 .u-text-7 {
    margin-left: 7px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 63px;
    margin-left: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 7px;
    margin-left: 63px;
  }

  .u-section-3 .u-list-item-4 {
    background-position: 50% 50%;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 23px;
  }

  .u-section-3 .u-image-8 {
    width: 145px;
    margin-left: 7px;
  }

  .u-section-3 .u-icon-20 {
    margin-left: 12px;
  }

  .u-section-3 .u-icon-21 {
    margin-left: 43px;
  }

  .u-section-3 .u-icon-22 {
    margin-left: 70px;
  }

  .u-section-3 .u-icon-23 {
    margin-right: auto;
    margin-left: 96px;
  }

  .u-section-3 .u-icon-24 {
    margin-right: auto;
    margin-left: 127px;
  }

  .u-section-3 .u-text-10 {
    margin-left: 7px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 63px;
    margin-left: 0;
  }

  .u-section-3 .u-text-12 {
    margin-right: 7px;
    margin-left: 63px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 239px;
  }

  .u-section-3 .u-list-1 {
    width: 720px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 320px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 7px;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-1 {
    height: 17px;
    width: 17px;
    margin-top: 10px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-2 {
    height: 138px;
    width: 275px;
    margin-top: 8px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    height: 20px;
    width: 22px;
    margin-top: 17px;
    margin-left: 70px;
  }

  .u-section-3 .u-icon-3 {
    height: 21px;
    width: 24px;
    margin-top: -20px;
    margin-left: 109px;
  }

  .u-section-3 .u-icon-4 {
    height: 22px;
    width: 24px;
    margin-top: -23px;
    margin-left: 147px;
  }

  .u-section-3 .u-icon-5 {
    height: 21px;
    width: 22px;
    margin-top: -21px;
    margin-left: 186px;
  }

  .u-section-3 .u-icon-6 {
    margin-top: -21px;
    margin-left: 228px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
    margin-top: 27px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-2 {
    width: auto;
    margin-top: 12px;
    margin-right: 179px;
    margin-left: 85px;
  }

  .u-section-3 .u-text-3 {
    width: auto;
    margin-top: -27px;
    margin-right: 89px;
    margin-left: 180px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 7px;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-7 {
    height: 17px;
    width: 17px;
    margin-top: 10px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-4 {
    height: 138px;
    width: 275px;
    margin-top: 8px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-8 {
    height: 20px;
    width: 22px;
    margin-top: 17px;
    margin-left: 70px;
  }

  .u-section-3 .u-icon-9 {
    height: 21px;
    width: 24px;
    margin-top: -20px;
    margin-left: 109px;
  }

  .u-section-3 .u-icon-10 {
    height: 22px;
    width: 24px;
    margin-top: -23px;
    margin-left: 147px;
  }

  .u-section-3 .u-icon-11 {
    height: 21px;
    width: 22px;
    margin-top: -21px;
    margin-left: 186px;
  }

  .u-section-3 .u-icon-12 {
    margin-top: -21px;
    margin-left: 228px;
  }

  .u-section-3 .u-text-4 {
    width: auto;
    margin-top: 27px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-5 {
    width: auto;
    margin-top: 12px;
    margin-right: 179px;
    margin-left: 85px;
  }

  .u-section-3 .u-text-6 {
    width: auto;
    margin-top: -27px;
    margin-right: 89px;
    margin-left: 180px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 7px;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-13 {
    height: 17px;
    width: 17px;
    margin-top: 10px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-6 {
    height: 138px;
    width: 275px;
    margin-top: 8px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-14 {
    height: 20px;
    width: 22px;
    margin-top: 17px;
    margin-left: 70px;
  }

  .u-section-3 .u-icon-15 {
    height: 21px;
    width: 24px;
    margin-top: -20px;
    margin-left: 109px;
  }

  .u-section-3 .u-icon-16 {
    height: 22px;
    width: 24px;
    margin-top: -23px;
    margin-left: 147px;
  }

  .u-section-3 .u-icon-17 {
    height: 21px;
    width: 22px;
    margin-top: -21px;
    margin-left: 186px;
  }

  .u-section-3 .u-icon-18 {
    margin-top: -21px;
    margin-left: 228px;
  }

  .u-section-3 .u-text-7 {
    width: auto;
    margin-top: 27px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-8 {
    width: auto;
    margin-top: 12px;
    margin-right: 179px;
    margin-left: 85px;
  }

  .u-section-3 .u-text-9 {
    width: auto;
    margin-top: -27px;
    margin-right: 89px;
    margin-left: 180px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 7px;
    padding-left: 10px;
  }

  .u-section-3 .u-icon-19 {
    height: 17px;
    width: 17px;
    margin-top: 10px;
    margin-right: 19px;
  }

  .u-section-3 .u-image-8 {
    height: 138px;
    width: 275px;
    margin-top: 8px;
    margin-right: 19px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-20 {
    height: 20px;
    width: 22px;
    margin-top: 17px;
    margin-left: 70px;
  }

  .u-section-3 .u-icon-21 {
    height: 21px;
    width: 24px;
    margin-top: -20px;
    margin-left: 109px;
  }

  .u-section-3 .u-icon-22 {
    height: 22px;
    width: 24px;
    margin-top: -23px;
    margin-left: 147px;
  }

  .u-section-3 .u-icon-23 {
    height: 21px;
    width: 22px;
    margin-top: -21px;
    margin-left: 186px;
  }

  .u-section-3 .u-icon-24 {
    margin-top: -21px;
    margin-left: 228px;
  }

  .u-section-3 .u-text-10 {
    width: auto;
    margin-top: 27px;
    margin-left: 17px;
    margin-right: 17px;
  }

  .u-section-3 .u-text-11 {
    width: auto;
    margin-top: 12px;
    margin-right: 179px;
    margin-left: 85px;
  }

  .u-section-3 .u-text-12 {
    width: auto;
    margin-top: -27px;
    margin-right: 89px;
    margin-left: 180px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-list-1 {
    width: 540px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-right: 40px;
  }

  .u-section-3 .u-image-2 {
    height: 142px;
    width: 161px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-3 .u-icon-2 {
    height: 22px;
    width: 25px;
    margin-top: 20px;
    margin-left: 32px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 61px;
  }

  .u-section-3 .u-icon-4 {
    height: 21px;
    width: 25px;
    margin-top: -21px;
    margin-right: 102px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-5 {
    height: 22px;
    width: 25px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-6 {
    height: 25px;
    width: 25px;
    margin-top: -24px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-3 .u-text-1 {
    margin-top: 31px;
    margin-right: 33px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-2 {
    margin-right: 127px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 56px;
    margin-left: 102px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-3 .u-icon-7 {
    margin-right: 40px;
  }

  .u-section-3 .u-image-4 {
    height: 142px;
    width: 161px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-3 .u-icon-8 {
    height: 22px;
    width: 25px;
    margin-top: 20px;
    margin-left: 32px;
  }

  .u-section-3 .u-icon-9 {
    margin-left: 61px;
  }

  .u-section-3 .u-icon-10 {
    height: 21px;
    width: 25px;
    margin-top: -21px;
    margin-right: 102px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-11 {
    height: 22px;
    width: 25px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-12 {
    height: 25px;
    width: 25px;
    margin-top: -24px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-3 .u-text-4 {
    margin-top: 31px;
    margin-right: 33px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-5 {
    margin-right: 127px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-6 {
    margin-right: 56px;
    margin-left: 102px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-3 .u-icon-13 {
    margin-right: 40px;
  }

  .u-section-3 .u-image-6 {
    height: 142px;
    width: 161px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-3 .u-icon-14 {
    height: 22px;
    width: 25px;
    margin-top: 20px;
    margin-left: 32px;
  }

  .u-section-3 .u-icon-15 {
    margin-left: 61px;
  }

  .u-section-3 .u-icon-16 {
    height: 21px;
    width: 25px;
    margin-top: -21px;
    margin-right: 102px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-17 {
    height: 22px;
    width: 25px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-18 {
    height: 25px;
    width: 25px;
    margin-top: -24px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-3 .u-text-7 {
    margin-top: 31px;
    margin-right: 33px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-8 {
    margin-right: 127px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-9 {
    margin-right: 56px;
    margin-left: 102px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 0;
    padding-left: 30px;
  }

  .u-section-3 .u-icon-19 {
    margin-right: 40px;
  }

  .u-section-3 .u-image-8 {
    height: 142px;
    width: 161px;
    margin-top: 1px;
    margin-right: auto;
    margin-left: 11px;
  }

  .u-section-3 .u-icon-20 {
    height: 22px;
    width: 25px;
    margin-top: 20px;
    margin-left: 32px;
  }

  .u-section-3 .u-icon-21 {
    margin-left: 61px;
  }

  .u-section-3 .u-icon-22 {
    height: 21px;
    width: 25px;
    margin-top: -21px;
    margin-right: 102px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-23 {
    height: 22px;
    width: 25px;
    margin-right: 73px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-24 {
    height: 25px;
    width: 25px;
    margin-top: -24px;
    margin-right: 42px;
    margin-left: auto;
  }

  .u-section-3 .u-text-10 {
    margin-top: 31px;
    margin-right: 33px;
    margin-left: 2px;
  }

  .u-section-3 .u-text-11 {
    margin-right: 127px;
    margin-left: 30px;
  }

  .u-section-3 .u-text-12 {
    margin-right: 56px;
    margin-left: 102px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-list-1 {
    width: 340px;
  }

  .u-section-3 .u-repeater-1 {
    grid-auto-columns: calc(100% - 0px);
    grid-template-columns: 100%;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 30px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 16px;
  }

  .u-section-3 .u-image-2 {
    height: 146px;
    width: 261px;
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-2 {
    height: 23px;
    width: 26px;
    margin-top: 14px;
    margin-left: 65px;
  }

  .u-section-3 .u-icon-3 {
    width: 23px;
    margin-top: -21px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-4 {
    height: 23px;
    width: 26px;
    margin-right: 87px;
  }

  .u-section-3 .u-icon-5 {
    height: 21px;
    width: 23px;
    margin-top: -22px;
    margin-right: 124px;
  }

  .u-section-3 .u-icon-6 {
    height: 23px;
    width: 24px;
    margin-top: -20px;
    margin-right: 48px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-2 {
    margin-left: 87px;
  }

  .u-section-3 .u-text-3 {
    margin-top: -25px;
    margin-right: 62px;
    margin-left: 158px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-right: 30px;
  }

  .u-section-3 .u-icon-7 {
    margin-top: 16px;
  }

  .u-section-3 .u-image-4 {
    height: 146px;
    width: 261px;
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-8 {
    height: 23px;
    width: 26px;
    margin-top: 14px;
    margin-left: 65px;
  }

  .u-section-3 .u-icon-9 {
    width: 23px;
    margin-top: -21px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-10 {
    height: 23px;
    width: 26px;
    margin-right: 87px;
  }

  .u-section-3 .u-icon-11 {
    height: 21px;
    width: 23px;
    margin-top: -22px;
    margin-right: 124px;
  }

  .u-section-3 .u-icon-12 {
    height: 23px;
    width: 24px;
    margin-top: -20px;
    margin-right: 48px;
  }

  .u-section-3 .u-text-4 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-left: 87px;
  }

  .u-section-3 .u-text-6 {
    margin-top: -25px;
    margin-right: 62px;
    margin-left: 158px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-right: 30px;
  }

  .u-section-3 .u-icon-13 {
    margin-top: 16px;
  }

  .u-section-3 .u-image-6 {
    height: 146px;
    width: 261px;
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-14 {
    height: 23px;
    width: 26px;
    margin-top: 14px;
    margin-left: 65px;
  }

  .u-section-3 .u-icon-15 {
    width: 23px;
    margin-top: -21px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-16 {
    height: 23px;
    width: 26px;
    margin-right: 87px;
  }

  .u-section-3 .u-icon-17 {
    height: 21px;
    width: 23px;
    margin-top: -22px;
    margin-right: 124px;
  }

  .u-section-3 .u-icon-18 {
    height: 23px;
    width: 24px;
    margin-top: -20px;
    margin-right: 48px;
  }

  .u-section-3 .u-text-7 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-8 {
    margin-left: 87px;
  }

  .u-section-3 .u-text-9 {
    margin-top: -25px;
    margin-right: 62px;
    margin-left: 158px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-right: 30px;
  }

  .u-section-3 .u-icon-19 {
    margin-top: 16px;
  }

  .u-section-3 .u-image-8 {
    height: 146px;
    width: 261px;
    margin-right: 5px;
    margin-left: auto;
  }

  .u-section-3 .u-icon-20 {
    height: 23px;
    width: 26px;
    margin-top: 14px;
    margin-left: 65px;
  }

  .u-section-3 .u-icon-21 {
    width: 23px;
    margin-top: -21px;
    margin-left: 101px;
  }

  .u-section-3 .u-icon-22 {
    height: 23px;
    width: 26px;
    margin-right: 87px;
  }

  .u-section-3 .u-icon-23 {
    height: 21px;
    width: 23px;
    margin-top: -22px;
    margin-right: 124px;
  }

  .u-section-3 .u-icon-24 {
    height: 23px;
    width: 24px;
    margin-top: -20px;
    margin-right: 48px;
  }

  .u-section-3 .u-text-10 {
    margin-top: 7px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-3 .u-text-11 {
    margin-left: 87px;
  }

  .u-section-3 .u-text-12 {
    margin-top: -25px;
    margin-right: 62px;
    margin-left: 158px;
  }
}